* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: 100;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
header {
    margin: 20px;
    text-align: center;
    padding: 9px 0 0 0;
}
h1 {
    text-align: center;
    background-color: #C4C4C4;
    color: #005677;
    letter-spacing: 7px;
    word-spacing: 12px;
}
div {
    margin: 90px;
    color: white;
}
h2 {
    margin: 30px;
    background-color: #C4C4C4;
    color: #005677;
    letter-spacing: 5px;
    word-spacing: 9px;
}
section ul {
    margin: 30px;
}
footer {
    text-align: center;
    background-color: #005677;;
}
footer p img {
   padding: 0 5px 0 11px;
}
span {
    font-weight: bold;
}
p {
    padding-left: 85px;
}